*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.contenitore{
    max-width: 100%;
    
}
.wall-container{
position: relative;
width: 100%;
padding: 4%;
background-image: url('/img/wall.png');
background-size: cover;

}


h1{
 font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  
  
}
.row{
    margin: auto;
    
 
}
.contenitore-card{
 background-image: url('/img/cork.png');
 width: 100%;   
 padding-left: 150px;
 padding-right: 150px;
}

.card{
    background-color: white;
    padding: 10px 10px 25px 10px;
    box-shadow: 0 40px 8px rgba(0,0,0,0.3);
    text-align: center;
    position: relative; 
    border: 1px black;

}

.card img{
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid rgb(160, 154, 154);
}



.card .puntina{
    position: absolute;
    top: -5px;
    left: 50%;
    width: 25px;
    z-index: 10;
    border: none;
}
 
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 1000;   /*Questo elemento deve stare sopra tutto per quello uso il valore 1000*/
    align-items: center;
    justify-content: center;


}
/*da controlare se è giusto perchè ho gia la classe dicchiarata  nel html  */
.d-none {
  display: none; 
   
}