*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.contenitore{
    max-width: 100%;

}
.col-12{
position: relative;
width: 100%;
padding: 5%;
background-image: url('/img/wall.png');

}


h1{
 font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  
  
}
