*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.contenitore{
    max-width: 100%;

}
.col-12{
position: relative;
width: 100%;
padding: 3%;
background-image: url('/img/wall.png');

}


h1{
 font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  
  
}

.contenitore-card{
    position: relative;
    width:100%;
    background-image: url('/img/cork.png');
    
}

.card-foto{
    background-color: white;
    padding: 10px 10px 25px 10px;
    box-shadow: 0 40px 8px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    border: 1px black;

}

.card-foto img {
    width: 100%;
}